<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807168460004-e0fk0ofuud7iu0nhtmbbleenh9r7nm13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807168460004-e0fk0ofuud7iu0nhtmbbleenh9r7nm13</string>
	<key>API_KEY</key>
	<string>AIzaSyA1zN6xv6-pSihXrwAHpI3soQ3SoOeQQW4</string>
	<key>GCM_SENDER_ID</key>
	<string>807168460004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nainai0722.LoginWithFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebaseapp-d1323</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebaseapp-d1323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807168460004:ios:ec3d4794c73163c6</string>
	<key>DATABASE_URL</key>
	<string>https://loginwithfirebaseapp-d1323.firebaseio.com</string>
</dict>
</plist>